<%- include('includes/head') -%> <%- include('includes/nav') -%>
<!-- INICIO CONTEUDO-->
<section class="hero is-medium">
    <div class="container">
        <div class="hero-body hero-disciplinas">
            <div class="columns">
                <% let nSemestre = 0; %> <% listCad.forEach(cad => { %> <% if( cad.semestre == 1) { %> <% nSemestre = 1 %> <% } else if( cad.semestre == 2) { %> <% nSemestre = 2 %> <% } %> <% if( cad.semestre == 3) nSemestre = 3 %> <% if(
                cad.semestre == 4) nSemestre = 4 %> <% if( cad.semestre == 5) nSemestre = 5 %> <% if( cad.semestre == 6) nSemestre = 6 %> <% if( cad.semestre == 7) nSemestre = 7 %> <% if( cad.semestre == 8) nSemestre = 8 %> <% if(
                cad.semestre == 9) nSemestre = 9 %> <% }) %>
                <div class="column is-2">
                    <div class="buttons">
                        <a href="/cadeiras/1">
                            <% if( nSemestre == 1) { %>
                            <button class="button is-primary btn btn-menu-disc">1º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">1º Semestre</button>
                            <% } %>
                        </a>
                    </div>

                    <div class="buttons">
                        <a href="/cadeiras/2">
                            <% if( nSemestre == 2) { %>
                            <button class="button is-primary btn btn-menu-disc">2º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">2º Semestre</button>
                            <% } %>
                        </a>
                    </div>

                    <div class="buttons">
                        <a href="/cadeiras/3">
                            <% if( nSemestre == 3) { %>
                            <button class="button is-primary btn btn-menu-disc">3º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">3º Semestre</button>
                            <% } %>
                        </a>
                    </div>

                    <div class="buttons">
                        <a href="/cadeiras/4">
                            <% if( nSemestre == 4) { %>
                            <button class="button is-primary btn btn-menu-disc">4º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">4º Semestre</button>
                            <% } %>
                        </a>
                    </div>

                    <div class="buttons">
                        <a href="/cadeiras/5">
                            <% if( nSemestre == 5) { %>
                            <button class="button is-primary btn btn-menu-disc">5º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">5º Semestre</button>
                            <% } %>
                        </a>
                    </div>
                    <div class="buttons">
                        <a href="/cadeiras/6">
                            <% if( nSemestre == 6) { %>
                            <button class="button is-primary btn btn-menu-disc">6º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">6º Semestre</button>
                            <% } %>
                        </a>
                    </div>

                    <div class="buttons">
                        <a href="/cadeiras/7">
                            <% if( nSemestre == 7) { %>
                            <button class="button is-primary btn btn-menu-disc">7º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">7º Semestre</button>
                            <% } %>
                        </a>
                    </div>

                    <div class="buttons">
                        <a href="/cadeiras/8">
                            <% if( nSemestre == 8) { %>
                            <button class="button is-primary btn btn-menu-disc">8º Semestre</button>
                            <% } else { %>
                            <button class="button is-primary btn btn-disable">8º Semestre</button>
                            <% } %>
                        </a>
                    </div>

                    <div class="buttons">
                        <a href="/cadeiras/9">
                            <button class="button is-primary btn btn-disable">
                                Optativas
                            </button>
                        </a>
                    </div>
                </div>

                <div class="column is-10">

                    <% let obrig = 0 %> 
                    <% listCad.forEach(cad => { %> 
                      <% if(cad.tipo === 'OBRIGATÓRIA'){ %> 
                        <% obrig = 1 %> 
                      <% } %>
                    <% }) %>

                    <div class="columns">
                        <div class="column">
                            <% if(obrig == 1){ %>
                            <h1 class="title is-5">&nbsp;Obrigatórias</h1>
                            <% } %>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <% listCad.forEach(cad => { %> <% if(cad.tipo === 'OBRIGATÓRIA'){ %>
                        <div class="column is-3">
                            <a href="/cadeiraResult/<%- cad.id_disc %>">
                                <p class="bd-notification is-primary" style="height: 100% !important; font-size: 0.8rem !important;">
                                    <% if(cad.trilha.split(",")[0] == 'Design'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-pen-ruler"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Sistemas'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-code"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Jogos'){ %>
                                    <span class="icon">
                                        <i class="fa fa-gamepad" style="color: #ff3f33;"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Audivisual'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-clapperboard" style="color: #8133ff;"></i>
                                    </span>
                                    <% } %>
                                    <span style=""><%- cad.nome %></span>
                                </p>
                            </a>
                        </div>
                        <% } %> <% }) %>
                    </div>

                    <% let eletv = 0 %> 
                    <% listCad.forEach(cad => { %>
                      <% if(cad.tipo === 'ELETIVA'){ %> 
                        <% eletv = 1 %> 
                      <% } %> 
                    <% }) %>

                    <div class="columns">
                        <div class="column">
                            <% if(eletv == 1){ %>
                            <h1 class="title is-5">&nbsp;Eletivas</h1>
                            <% } %>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <% listCad.forEach(cad => { %> <% if(cad.tipo === 'ELETIVA'){ %>
                        <div class="column is-3">
                            <a href="/cadeiraResult/<%- cad.id_disc %>">
                                <p class="bd-notification is-primary" style="height: 100% !important; font-size: 0.8rem !important;">
                                    <% if(cad.trilha.split(",")[0] == 'Design'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-pen-ruler"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Sistemas'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-code"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Jogos'){ %>
                                    <span class="icon">
                                        <i class="fa fa-gamepad" style="color: #ff3f33;"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Audivisual'){ %>
                                    <span class="icon">
                                        <%- cad.nome %>
                                        <i class="fa-solid fa-clapperboard" style="color: #8133ff;"></i>
                                    </span>
                                    <% } %>
                                    <span><%- cad.nome %></span>
                                </p>
                            </a>
                        </div>
                        <% } else if(cad.tipo !== 'OPTATIVA' && cad.tipo !== 'OBRIGATÓRIA'){%>
                        <div class="column is-12">
                            <h1 class="subtitle is-5"><center>Não foi possivel encontrar cadeiras eletivas para esse semestre</center></h1>
                        </div>
                        <% } %> <% }) %>
                    </div>

                    <% let opt = 0 %> 
                    <% listCad.forEach(cad => { %> 
                      <% if(cad.tipo === 'OPTATIVA'){ %> 
                        <% opt = 1 %> 
                      <% } %> 
                    <% }) %>

                    <div class="columns">
                        <div class="column">
                            <% if(opt == 1){ %>
                            <h1 class="title is-5">&nbsp;Optativas</h1>
                            <% } %>
                        </div>
                    </div>
                    <div class="columns is-multiline" style="max-height: 24rem;overflow: auto;">
                        <% listCad.forEach(cad => { %> <% if(cad.tipo === 'OPTATIVA'){ %>
                        <div class="column is-3">
                            <a href="/cadeiraResult/<%- cad.id_disc %>">
                                <p class="bd-notification is-primary" style="height: 100% !important; font-size: 0.8rem !important;">
                                    <% if(cad.trilha.split(",")[0] == 'Design'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-pen-ruler"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Sistemas'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-code"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Jogos'){ %>
                                    <span class="icon">
                                        <i class="fa fa-gamepad" style="color: #ff3f33;"></i>
                                    </span>
                                    <% } else if(cad.trilha.split(",")[0] == 'Audivisual'){ %>
                                    <span class="icon">
                                        <i class="fa-solid fa-clapperboard" style="color: #8133ff;"></i>
                                    </span>
                                    <% } %> <%- cad.nome %>
                                </p>
                            </a>
                        </div>
                        <% } %> <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM CONTEUDO-->
        <%- include('includes/footer') -%>
    </div>
</section>
