<%- include('includes/head') -%>
<%- include('includes/nav') -%>
  <!-- INICIO CONTEUDO-->
  <section class="hero is-medium">
    <div class="container">
      <div class="hero-body hero-disciplinas">

        <div class="columns">
             
            <% resultCad.forEach(rsCad => { %>
                <div class="column is-7" style="padding: 0rem 3rem;">
                <br>
                <div class="column">
                <h1 class="title is-4 title-disciplinas"><%- rsCad.nome %><b style="color:gray;">&nbsp;(<%- rsCad.cargaHoraria%>)</b></h1>

                <div class="buttons">

                <% for(let i = 0; i < rsCad.trilha.split(",").length; i++){ %>
                    <% if(rsCad.trilha.split(",")[i]  == 'Sistemas') { %>
                        <button class="btn-sistema" style="margin-right: 0.5rem;">
                            <span class="icon"><i class="fa-solid fa-code"></i></span>
                            <span>Sistemas</span>
                        </button>
                    <% } else if(rsCad.trilha.split(",")[i]  == 'Design') { %>
                        <button class="btn-sistema" style="margin-right: 0.5rem;">
                            <span class="icon"><i class="fa-solid fa-pen-ruler"></i></span>
                            <span>Design</span>
                        </button>
                    <% } else if(rsCad.trilha.split(",")[i]  == 'Audivisual') { %>
                        <button class="btn-sistema" style="margin-right: 0.5rem;">
                            <span class="icon"><i class="fa-solid fa-clapperboard"></i></span>
                            <span>Audivisual</span>
                        </button>
                    <% } else if(rsCad.trilha.split(",")[i]  == 'Jogos') { %>
                        <button class="btn-sistema" style="margin-right: 0.5rem;">
                            <span class="icon"><i class="fa fa-gamepad"></i></span>
                            <span>Jogos</span>
                        </button>
                    <% } %>
                <% } %>
                </div>

                <h1 class="subtitle is-6 subtitle-disciplinas">
                    <b>Ementa: </b>
                    <%- rsCad.ementa %>
                </h1>
                <h1 class="subtitle is-6 subtitle-disciplinas">
                    <b>Pré-requisitos: </b>
                    <%- rsCad.preReq %>
                </h1>

                <h1 class="subtitle is-6 subtitle-disciplinas" style="margin-bottom: 0;">
                    <b>Você pode conferir a ementa completa da disciplina no link abaixo:</b>
                </h1>

                <a href="<%- rsCad.regDisc %>"
                target="_blank" class="link-disciplinas">Ementa completa</a>
                  
                </div>
              </div>
            <% }) %>

            <div class="column is-5">
              <div class="column">
                <h1 class="subtitle is-6 subtitle-disciplinas" style="margin-bottom: 0;">
                  <center>Histórico de Professores</center>
                </h1>
                <br>

                <% listHistProfLimit.forEach(hist => { %>
                <div class="box box-professores">
                  <a href="/professor/<%- hist.id_prof %>">
                    <div class="columns is-vcentered">
                      <div class="column is-3">
                        <figure class="image is-64x64">
                          <img class="is-rounded" src="<%- hist.foto %>">
                        </figure>
                      </div>
                      <div class="column is-6">
                        <h2 class="title is-6 subtitle-disciplinas" style="margin-bottom: 0;font-size: 1.0rem;">
                          <% if(hist.nomeProf.split(" ")[1].length > 2){%>
                            <%= hist.nomeProf.split(" ")[0] + " " + hist.nomeProf.split(" ")[1] %>
                          <% }else { %>
                            <%= hist.nomeProf.split(" ")[0] + " " + hist.nomeProf.split(" ")[1] + " " + hist.nomeProf.split(" ")[2] %>
                          <% } %>
                        </h2>
                          <p class="p-disciplinas">&nbsp;Lecionou no semestre <%- hist.ano %> </p>
                      </div>
                      <div class="column is-3">
                        <center>
                          <figure class="image is-32x32">
                            <img class="is-rounded" src="../assets/imgs/carinha-feliz.svg">
                          </figure>
                          <h1 class="title is-6 av-boa">
                            5,0
                          </h1>
                        </center>
                      </div>
                    </div>
                  </a>
                </div>
                <% }) %>

                <div class="box box-btn">
                  <h1 class="subitle is-6" style="margin-bottom: 0;">
                    <a href="professorPesquisa.html">Ver Mais...</a>
                  </h1>
                </div>
              </div>
            </div>

        </div>

      </div>
    </div>
  </section>
  <!-- FIM CONTEUDO-->
  <%- include('includes/footer') -%>